#container{
    width: 550px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px 10px;
    margin: 20px;

}

#main-heading{
    text-align: center;
}
/* .todo-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
} */
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 150px 100px;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}
#todo-input, #todo-date{
    font-size: 15px;
    padding: 10px 5px;
}
.btn-delete{
    background-color: rgba(153, 13, 13, 0.725);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
}
.btn-todo{
    background-color: rgba(29, 153, 13, 0.725);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
}